@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mission Accomplished";
}

<h1>Welcome to the beginnings of 413!</h1>
<h2>My name is Brandon Hunt</h2>
<h2>A very cool rendition of this assignment!</h2>
<img id="picture" src="img/encryption.jpg" />
<h2>Here is a picutre of me smiling that I'm in the core. (this is what I enjoy: smiling)</h2>
<img id="brandon" src="img/brandonSmiling.jpg" width="300" />
    
<p>Some cool things I'd enjoy doing for work post schooling:</p>
<ul>
    <li>Smart contract development (maybe auditting)</li>
    <li>Fin-tech stuff</li>
    <li>Hacking things (whitehat?)</li>
    <li>Probably more development side though</li>
</ul>

    
